@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #2A0767;
    display: flex;

}

#menu-lateral {
    border-right: 1px solid rgb(104, 104, 104);
    width: 16vw;
    height: 100vh;
}

#logo {
    height: 18vh;
}

#logo img {
    width: 15vw;
}

.box-icon i {
    color: white;
}

.box-icon p {
    color: white;
    font-size: 12px;
}

.box-icon {
    display: flex;
    padding-left: 2vw;
    gap: 20px;
    height: 9vh;
    align-items: center;
}

hr {
    border: 1px solid rgb(104, 104, 104);
    width: 85%;
}

#box-hr {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 9vh;
}

#cabecalho {
    width: 84vw;
    display: flex;
    justify-content: flex-end;
    height: 18vh;
}

#box-search {
    width: 30vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1vw;
}

#box-avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5vw;

}

#box-input input {
    width: 20vw;
    height: 7vh;
    border-radius: 20px;
    background-color: #270E63;
    border: 1px solid rgb(104, 104, 104);
    outline: none;
}

#box-input i {
    position: absolute;
    margin-left: -30px;
    margin-top: 13px;
    color: rgb(104, 104, 104);
}

#box-input input::placeholder {
    color: rgb(104, 104, 104);
    padding: 10px;
}

#box-avatar i {
    font-size: 20px;
    color: white;
}

#box-avatar img {
    width: 4vw;
}

#progress {
    display: flex;
    justify-content: center;
    gap: 15px;
}

#progress div i {
    color: white;
}

#progress div strong {
    color: white;
}

#progress div {
    display: flex;
    gap: 1vw;

}


.cards {
    background-color: #4C1BA7;
    border-radius: 10px;
    width: 17vw;
    height: 15vh;
    display: flex;
    align-items: center;    
    justify-content: space-between;
    gap: 15px;
    padding: 15px;
}
.cards div {
    display: flex;
    flex-direction: column;
}

.cards div i{
    font-size: 25px;
}

.icone-card{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5vw;
    height: 10vh;
    background-color: #2A0767;
    margin-left: 1vw;
    margin-bottom: 3vh ;
    border-radius: 10px;
}
.cards-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 10vw;
    height: 13vh;
    padding-left: 7px;
}
.cards-text strong{
    font-size: 16px;
}
.cards-text p{
    font-size: 12px;
    color: #2A0767;

}
.cards-text a{
    color: #2A0767;
    font-size: 11px;

}