@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #2A0767;
    display: flex;

}

#menu-lateral {
    border-right: 1px solid rgb(104, 104, 104);
    width: 16vw;
    height: 100vh;
}

#logo {
    height: 18vh;
}

#logo img {
    width: 15vw;
}

.box-icon i {
    color: white;
}

.box-icon p {
    color: white;
    font-size: 12px;
}

.box-icon {
    display: flex;
    padding-left: 2vw;
    gap: 20px;
    height: 9vh;
    align-items: center;
}

hr {
    border: 1px solid rgb(104, 104, 104);
    width: 85%;
}

#box-hr {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 9vh;
}

#cabecalho {
    width: 84vw;
    display: flex;
    justify-content: flex-end;
    height: 18vh;
}

#box-search {
    width: 30vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1vw;
}

#box-avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5vw;

}

#box-input input {
    width: 20vw;
    height: 7vh;
    border-radius: 20px;
    background-color: #270E63;
    border: 1px solid rgb(104, 104, 104);
    outline: none;
}

#box-input i {
    position: absolute;
    margin-left: -30px;
    margin-top: 13px;
    color: rgb(104, 104, 104);
}

#box-input input::placeholder {
    color: rgb(104, 104, 104);
    padding: 10px;
}

#box-avatar i {
    font-size: 20px;
    color: white;
}

#box-avatar img {
    width: 4vw;
}

#progress {
    display: flex;
    justify-content: center;
    gap: 15px;
}

#progress div i {
    color: white;
}

#progress div strong {
    color: white;
}

#progress div {
    display: flex;
    gap: 1vw;

}


.cards {
    background-color: #4C1BA7;
    border-radius: 10px;
    width: 17vw;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    padding: 15px;
}

.cards div {
    display: flex;
    flex-direction: column;
}

.cards div i {
    font-size: 25px;
}

.icone-card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5vw;
    height: 10vh;
    background-color: #2A0767;
    margin-left: 1vw;
    margin-bottom: 3vh;
    border-radius: 10px;
}

.cards-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 10vw;
    height: 13vh;
    padding-left: 7px;
}

.cards-text strong {
    font-size: 16px;
}

.cards-text p {
    font-size: 12px;
    color: #2A0767;

}

.cards-text a {
    color: #2A0767;
    font-size: 11px;

}

#menu-cursos-disponiveis {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 45px;
}

#menu-cursos-disponiveis h1 {
    color: white;
    font-size: 32px;
}

#visualizacao {
    display: flex;
    align-items: center;
    
    flex-direction: row;
}

#visualizacao select {
    background-color: #2A0767;
    color: white;    
    border: 1px solid rgb(104, 104, 104);
    outline: none;
    border-radius: 10px;
    padding: 10px 18px;
    font-size: 16px;
}

.grid-list-icon i{
    color: white;
    font-size: 25px;
}

.grid-list-icon {
    width: 45px;
    height: 45px;
    border: 1px solid #6F45FF;
    border-radius: 10px;
    background-color: #4C1BA7;
    cursor: pointer;
}
#cards-cursos{
    display: flex;
    gap: 1vw;
    flex-wrap: wrap;
    margin-left: 3vw;
}

.card-curso-em-andamento{
    width: 360px;
    border-radius: 15px;
    overflow: hidden;
    background-color: #3c02a0;    
}

.container-imagem {
    position: relative;
}
.imagem-card{
    width: 100%;
    height: 180px;
    object-fit: cover;
    display: block;
}

.nome-curso-dentro-da-img {
    position: absolute;
    bottom: 10px;
    left: 12px;
    margin: 0;
    background-color: #6F45FF;
    border-radius: 5px;
    width: 5vw;
    height: 12px;
    text-align: center;
    font-size: 10px;
    font-weight: 500;
    color: white;
}

.card-descricao-curso {
    margin-left: 1vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.card-descricao-curso strong {
    color: white;
}

.card-descricao-curso p {
color: #6F45FF;

}

.card-button-bookmark {
    display: flex;
    gap: 1vw;
    justify-content: center;
}

.card-button-bookmark button {
        background-color: #4C1BA7;    
        color: white;
        width: 15vw;
        height: 3vh;
        border: 1px solid rgb(104, 104, 104);
        border-radius: 10px;
        cursor: pointer;
        margin-bottom: 5px;        
}

.card-button-bookmark i { 
    color: white;
    font-size: 20px;
}